.timePickerWrapper{
    .numbersWrapper{
        display: flex;
        gap: 5px;
    }
    .labelWrapper{
        width: 30px;
        height: 30px;
        background-color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            font-size: 30;
        }

    }
}