.loginWrapper{
  background-color: var(--background-color);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .text{
    font-size: 20px;
    color: var(--text-reverse-color);
    padding-top: 112px;
    padding-bottom: 39px;
    width: 306px;
    line-height: 150%;
  }
  .inputWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 306px;
    padding-bottom: 51px;

  }
  .buttonWrapper{
    width: 322px;
    height: 48px;
  }
}

