input{
  border:none;
  border-bottom: 1px solid var(--text-reverse-color);
  width: 100%;
  height:30px;
  padding-bottom: 4px;

  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  
  color: var(--text-reverse-color) !important;
  font-size: 20px;
  background-color: transparent;
}
input::placeholder{
  color: var(--secondary-color);
  font-size: 20px;
  padding-bottom: 4px
}
input:focus{
  outline:none;
}
