input{
  border:none;
  border-bottom: 1px solid white;
  height: 29px;
  width: 306px;
  padding-bottom: 9px;
  
  color: white;
  font-size: 20px;
  
  font-family: 'NanumSquareRoundB';
  background-color: transparent;
}
input::placeholder{
  color: #aba9a9;
  font-family: 'NanumSquareRoundB';
  font-size: 20px;
  margin-bottom: 30px;
}
input:focus{
  outline:none;
}
