.mainWrapper{
  background-color: var(--background-color);
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mainText{
    font-size: 25px;
    color: var(--text-reverse-color);
    padding-bottom: 55px;
  }
  .machineWrapper{
    display: flex;
    justify-content: space-between;
    
    width: 319px;
    height: 145px;
    margin-bottom: 55px;
  }
}