.mainWrapper {
  background-color: var(--background-color);
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mainText {
    font-size: 25px;
    color: var(--text-reverse-color);
    padding-bottom: 55px;
  }
  .machineWrapper {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    // space between dot and page
    margin-bottom: 30px;
  }

  .carouselWrapper {
    width: 319px;
    height: 400px;
  }

  .refreshButtonWrapper { 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--text-reverse-color);
    border-radius: 30px;
    right: 10%;
    bottom: 100px;
  }

  .versionTextWrapper {
    white-space: pre-line;
    line-height: 25px;
    text-align: center;
    
  }
}
