
@font-face {
  font-family: "NanumSquareRoundB";
  font-weight: normal;
  src: url("https://replit.com/@KunjoongKim/tanyak-laundry#src/assets/fonts/NanumSquareRoundB.ttf") format("truetype");
}



.basicButtonWrapper{
  background-color: #E8AE1E;
  border-radius: 30px;
  border-color: transparent;

  font-family: 'NanumSquareRoundB';
  font-size: 25px;
  width: 100%;
  height: 100%;
  
}