body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//  Global Color
:root {
  --primary-color: #e8ae1e;
  --secondary-color: #d9d9d9;
  --background-color: #5067aa;
  --text-color: #393939;
  --text-reverse-color: #ffffff;
  --default-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
