.modeButtonWrapper {
  display: flex;

  position: relative;
  width: fit-content;
  .outerCircle {
    background: var(--secondary-color);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
  }
  .innerCircle {
    position: relative;
    background: var(--primary-color);
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .modeOptions {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left,
    .right {
      display: flex;
      flex-direction: column;
      gap: 27px;
    }
    // indent top and bottom mode options
    .left {
      padding-left: 6px;
      > div:first-child,
      > div:last-child {
        margin-left: 18px;
      }
    }
    .right {
      padding-right: 6px;
      > div:first-child,
      > div:last-child {
        margin-left: -18px;
      }
      .modeOptionWrapper {
        background: red;
      }
    }
  }
}
